# Excluir o diretório myenv
myenv/

# Excluir arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Excluir arquivos de configuração específicos do ambiente
.env
*.env

# Excluir diretórios e arquivos gerados por editores de código e IDEs
.vscode/
.idea/

# Excluir arquivos de log e temporários
*.log
*.tmp

# Excluir arquivos de pacotes e distribuições Python
dist/
build/
*.egg-info/
